@import "tailwindcss";

@theme {
  --font-sans: 'Satoshi', sans-serif;

  --breakpoint-lg: 1045px;
  --breakpoint-md: 796px;
  --breakpoint-sm: 680px;
  --breakpoint-xs: 320px;
}

@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/satoshi.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal italic;
  font-display: swap;
}

:root {
  --step--2: clamp(0.6944rem, 0.4908rem + 1.0184vw, 1.28rem);
  --step--1: clamp(0.8333rem, 0.5667rem + 1.3333vw, 1.6rem);
  --step-0: clamp(1rem, 0.6522rem + 1.7391vw, 2rem);
  --step-1: clamp(1.2rem, 0.7478rem + 2.2609vw, 2.5rem);
  --step-2: clamp(1.44rem, 0.8539rem + 2.9304vw, 3.125rem);
  --step-3: clamp(1.728rem, 0.9703rem + 3.7883vw, 3.9063rem);
  --step-4: clamp(2.0736rem, 1.0965rem + 4.8856vw, 4.8828rem);
  --step-5: clamp(2.4883rem, 1.2309rem + 6.2873vw, 6.1035rem);
}

body {
  background-image: 
  linear-gradient(45deg, var(--color-gray-100), transparent);
	font-family: 'Satoshi', sans-serif;
	font-size: 16px;
	margin: 0;
	padding: 0;
}
main {
	margin: auto;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-style: italic;
}
a {
  cursor: pointer;
}
.text-clamp-lg {
  font-size: var(--step-5);
}
.text-clamp-md {
  font-size: var(--step--1);
}
.text-clamp-sm {
  font-size: clamp(16px, 1.111vw, 28px)
}
.text-clamp-xs {
  font-size: clamp(12px, 1vw, 20px)
}
.hover-link {
  &:hover,
  &.active {
    &::before {
      transform-origin: left;
      transform: scaleX(1);
    }
  }
  &::before {
    content: "";
    position: absolute;
    display: block;
    bottom: .2em;
    width: 100%;
    height: 1px;
    background-color: currentColor;
    transform-origin: right;
    transform: scaleX(0);
    transition: .6s transform cubic-bezier(.66, 0, .15, 1);
  }
}
.flash {
  animation: flash 1s infinite alternate;

  &.middle {
    animation-delay: 175ms;
  }
  &.last {
    animation-delay: 350ms;
  }
}
@keyframes flash {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.4;
  }
}
.scrollbar-none {
  scrollbar-width: none;
}
::selection {
  background-color: var(--color-blue-200);
}