---
import BaseHead from "../components/BaseHead.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import Main from "../components/Main";
import Header from "../components/Header";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="h-screen">
    <Header transition:persist transition:name="header" client:load />
    <Main client:load />
  </body>
</html>
