---
import { BLUR_GRADIENT } from "../data/data_styles";
const { direction = "top" } = Astro.props;

const gradients = [
  { blur: "0.140625px", stops: "0%, 12.5%, 25%, 37.5%" },
  { blur: "0.28125px", stops: "12.5%, 25%, 37.5%, 50%" },
  { blur: "0.5625px", stops: "25%, 37.5%, 50%, 62.5%" },
  { blur: "1.125px", stops: "37.5%, 50%, 62.5%, 75%" },
  { blur: "2.25px", stops: "50%, 62.5%, 75%, 87.5%" },
  { blur: "4.5px", stops: "62.5%, 75%, 87.5%, 100%" },
  { blur: "9px", stops: "75%, 87.5%, 100%" },
  { blur: "18px", stops: "87.5%, 100%" },
];
---

  {
    gradients.map((gradient, index) => (
      <div
        class={`z-${index + 1} ${BLUR_GRADIENT}`}
        style={`
        backdrop-filter: blur(${gradient.blur});
        -webkit-backdrop-filter: blur(${gradient.blur});
        mask-image: linear-gradient(to ${direction}, rgba(0, 0, 0, 0) ${gradient.stops.split(", ")[0]}, rgba(0, 0, 0, 1) ${gradient.stops.split(", ")[1]}, rgba(0, 0, 0, 1) ${gradient.stops.split(", ")[2]}${gradient.stops.split(", ")[3] ? `, rgba(0, 0, 0, 0) ${gradient.stops.split(", ")[3]}` : ""});
      `}
      >
        {/* Your content for each gradient div */}
      </div>
    ))
  }
