---
import { STYLE_CONTAINER } from "../data/data_styles";
---

<footer>
  <div class={`${STYLE_CONTAINER} text-clamp-xs bg-gray-200 py-2`}>
    This website was built with Astro. 
  </div>
</footer>
